<p>Hospital: <%= request.hospital %></p>
<p>Department: <%= request.department %></p>
<p>Comment: <%= request.comment %></p>
<p>Date: <%= request.appointment %></p>

<% if user_signed_in? %>
	<!-- Allow user to delete and edit requests if they made them-->
	<% if request.user_id == current_user.id %>
		<%= link_to "Edit", edit_patient_request_path(request.patient, request), class: "btn btn-info" %>
		<%= link_to "Delete", patient_request_path(request.patient, request), method: :delete, data: {
			confirm: "Are you sure?" }, class: "btn btn-info" %>

	<% end %>
<% end %>

<br></br>
