
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-border">
        <div class ="well well-lg">
        	<h2><u>Patient Details</u></h2>
			<h3>Name: <%= @patient.name %></h3>
			<h3>Date of Birth: <%= @patient.dob %></h3>
			<p>Address: <%= @patient.address %></p>
			<p>Phone: <%= @patient.phone %></p>
			<p>Hospital: <%= @patient.clinic.name %></p>

			<%= link_to "Back", root_path, class: "btn btn-info" %>
			<%= link_to "Add Request", new_patient_request_path(@patient), class: "btn btn-info" %>
			<br></br>
			<%= link_to "Edit", edit_patient_path(@patient), class: "btn btn-info" %>
			<%= link_to "Delete", patient_path(@patient), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-info" %>
			</div>
		</div>


		<div class="col-md-4 col-border col-md-offset-1">
		<div class = "well well-lg">
			<h2><u>Patient Requests</u></h2>
			<div class="col-xs-20">
				<% if @patient.requests.count == 0 %>
					<h3>There are no requests for this patient</h3>
				<% else %>
					<%= render @patient.requests %>
				<% end %>
			</div>
			</div>
		</div>


