<h2><%= @patient.name %></h2>
<h3><%= @patient.dob %></h3>
<p><%= @patient.address %></p>
<p><%= @patient.phone %></p>
<p>Hospital: <%= @patient.clinic.name %><p>


<%= link_to "Add Request", new_patient_request_path(@patient) %>
<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_patient_path(@patient) %>
<%= link_to "Delete", patient_path(@patient), method: :delete, data: {confirm: "Are you sure?"} %>

<div class="col-md-4">
	<div class="requests">
		<%= render @patient.requests %>
	</div>
</div>	