<!DOCTYPE html>
<html>
<head>
  <title>PatientManagementSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Patient Management System", root_path, class: "navbar-brand" %>
			</div>
			<ul class = "nav navbar-nav navbar">
 				<li><%= link_to "Sign Up", new_user_registration_path %></li>
 				<% if user_signed_in? %>
 					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
 				<% else %>
 					<li><%= link_to "Log In", new_user_session_path %></li>
 				<% end %>
 			</ul>

 		
 			<!-- Only show clinic select, search bar and add patient option if user is logged in -->
 			<% if user_signed_in? %>
	 			<ul class="nav navbar-nav navbar-right">
	 				<!-- Clinic Dropdown -->
					<li class="dropdown">
		 				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clincs <span class="caret"></span></a>
		 				<ul class="dropdown-menu" role="menu">
		 					<% Clinic.all.each do |clinic| %>
		 						<li class="<%= 'active' if params[:clinic] == clinic.name %>">
		 							<%= link_to clinic.name, patients_path(clinic: clinic.name), class: "link" %>
		 						</li>
		 					<% end %> 	
		 				</ul>


		 			<li class="dropdown">
		 				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Requests <span class="caret"></span></a>
		 				<ul class="dropdown-menu" role="menu">
		 					<% Clinic.all.each do |clinic| %>
		 						<li class="<%= 'active' if params[:clinic] == clinic.name %>">
		 							<%= link_to clinic.name, requests_path(clinic: clinic.name, patient_id: 11), class: "link" %>
		 						</li>
		 					<% end %> 	
		 				</ul>


		 			<!-- Add Patient -->
	 				<li><%= link_to "Add Patient", new_patient_path %></li>
	 				
	 				<li><%= link_to "Requests", requests_path(patient_id: 11) %></li>
	 				
	 			</ul>
		
				<!-- Search Bar -->
				<ul class="nav navbar-nav navbar-right">
					<%= form_tag patients_path, class:'navbar-form', :method => 'get' do %>
						<div class="input-group">
							<%= text_field_tag :search, params[:search], class:'form-control' %>
							<div class="input-group-btn">
								<%= submit_tag "Search", class: 'btn btn-info' %>
							</div>	
						</div>
					<% end %>
				</ul>
			<% end %>
		</div>
	</nav>


	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
		<%= yield %>
	</div>

</body>
</html>
